body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

body main {
  margin-top: 65px;
}

body main .btn {
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

body main p {
  font-size: 16px;
  line-height: 26px;
}

body main .banner {
  background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 8px;
  margin: 20px;
  padding: 75px 20px;
}

body main .banner .banner-content {
  color: white;
}

body main .flex-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .flex-section .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

body main .flex-section .boxes .img {
  height: auto;
  width: auto;
  padding: 15px;
}

body main .flex-section .boxes h3 {
  margin: 0;
  font-weight: 200;
}

body main .flex-section .boxes p {
  font-size: 12px;
}

body main #collection-section .collection-header {
  color: grey;
}

body main #why-choose-section {
  color: white;
}

body main #why-choose-section .section-header {
  background-color: #333D4B;
  padding: 15px 15px 475px 15px;
  border-radius: 10px;
}

body main #why-choose-section .flex-section {
  position: relative;
  top: -475px;
}

body main #why-choose-section .flex-section .boxes {
  background-color: darkcyan;
  margin: 15px 15px 0px 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
}

body main #why-choose-section .flex-section .boxes .img {
  height: 45px;
  width: 45px;
  margin: auto;
  padding: 40px;
}

body main #how-works-section {
  position: relative;
  top: -475px;
}

body main #how-works-section h3 {
  padding-top: 50px;
  font-weight: normal;
  color: grey;
}

body main #how-works-section h1.number {
  color: #fdd68a;
  font-size: 65px;
  margin: 0;
  padding-top: 50px;
  font-weight: normal;
}

body main #how-works-section h2 {
  font-weight: normal;
}

body main #how-works-section .btn {
  margin-top: 50px;
}

@media (min-width: 768px) {
  body body {
    text-align: left;
    margin: 50px;
  }
  body body .banner {
    padding-left: 50px;
  }
  body body .banner .banner-content {
    width: 65%;
  }
  body body .banner .banner-content h1 {
    margin: 0;
    width: 85%;
    font-size: 50px;
    font-weight: normal;
  }
  body body .banner .banner-content p {
    margin: 0;
    padding: 10px 0px 50px 0px;
  }
  body body .banner .banner-content .btn {
    width: 40%;
    padding: 15px 20px;
  }
}
/*# sourceMappingURL=index.css.map */