body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

body main {
  margin-top: 65px;
}

body main .banner-margin {
  margin: 20px;
}

body main .banner-margin #create-plan-banner {
  background: url("../assets/plan/mobile/image-hero-blackcup.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
  padding: 75px 15px;
  border-radius: 7px;
  margin-bottom: 5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body main .banner-margin #create-plan-banner h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 500;
}

body main .banner-margin #create-plan-banner p {
  font-size: 12px;
  line-height: 25px;
  word-spacing: 1.5px;
}

body main #plan-description {
  margin: 0;
  background: url("../assets/plan/mobile/bg-steps.png") no-repeat;
  background-size: cover;
  padding: 20px;
  color: white;
  border-radius: 7px;
}

body main #plan-description div .number {
  color: #fdd68a;
  font-size: 55px;
  padding-top: 50px;
}

body main #plan-description div h2 {
  font-weight: 500;
  margin: 0;
}

body main #plan-description div h3 {
  font-weight: 500;
  margin: 0;
  padding: 10px 0px 10px 0px;
}

body main #plan-description div p {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  word-spacing: 1.5px;
}

body main #plan-description div:last-child p {
  padding-bottom: 50px;
}

body main #plan {
  margin: 20px;
}

body main #plan #sidebar {
  display: none;
}

body main #plan #selection-section .selection-boxes {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

body main #plan #selection-section .selection-boxes .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

body main #plan #selection-section .selection-boxes .toggle h4 {
  font-weight: 400;
  font-size: 22px;
}

body main #plan #selection-section .selection-boxes .toggle .arrow {
  height: 13px;
  width: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main #plan #selection-section .selection-boxes .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

body main #plan #selection-section .selection-boxes .options .item-box {
  display: block;
  background-color: #FEFCF7;
  border-radius: 7px;
  padding: 30px 20px 65px 20px;
  cursor: pointer;
}

body main #plan #selection-section .selection-boxes .options .item-box h3 {
  margin: 0;
  font-weight: 500;
}

body main #plan #selection-section .selection-boxes .options .item-box p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

body main #plan #selection-section .selection-boxes .options .item-box:hover {
  background-color: #fdd68a;
}

body main #plan #selection-section .selection-boxes .options .item-box-active {
  background-color: #0E8784;
  color: white;
}

body main #plan #selection-section .selection-boxes .options .item-box-active:hover {
  background-color: #0E8784;
  color: white;
}

body main #plan #selection-section #type .toggle .arrow,
body main #plan #selection-section #amount .toggle .arrow,
body main #plan #selection-section #grind .toggle .arrow,
body main #plan #selection-section #delivery .toggle .arrow {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

body main #plan #selection-section #type .options,
body main #plan #selection-section #amount .options,
body main #plan #selection-section #grind .options,
body main #plan #selection-section #delivery .options {
  display: none;
}

body main #plan #selection-section .disabled .toggle {
  cursor: not-allowed;
}

body main #plan #selection-section .disabled .toggle h4 {
  opacity: 50%;
}

body main #plan #selection-section .disabled .toggle .arrow {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 60%;
}

body main #plan #selection-section .disabled .options {
  display: none;
}

body main #order-summary {
  margin: 100px 20px 20px 20px;
  padding: 20px;
  border-radius: 7px;
  background-color: #333D4B;
  color: white;
  text-align: left;
}

body main #order-summary h4 {
  margin: 0;
  font-weight: bold;
  color: #83888F;
  text-transform: uppercase;
}

body main #order-summary p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

body main #order-summary #drink-span,
body main #order-summary #type-span,
body main #order-summary #amount-span,
body main #order-summary #grind-span,
body main #order-summary #delivery-span {
  color: #0E8784;
}

body main button {
  background-color: #0E8784;
  border: none;
  color: white;
  padding: 12px 35px;
  border-radius: 3px;
  cursor: pointer;
}

body main button:hover {
  opacity: 75%;
}

body main #order-summary-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

body main #order-summary-modal #modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  border: 1px solid #888;
  width: 85%;
  /* Could be more or less, depending on screen size */
  border-radius: 7px;
}

body main #order-summary-modal #modal-content #drink-span2,
body main #order-summary-modal #modal-content #type-span2,
body main #order-summary-modal #modal-content #amount-span2,
body main #order-summary-modal #modal-content #grind-span2,
body main #order-summary-modal #modal-content #delivery-span2 {
  color: #0E8784;
}

body main #order-summary-modal #modal-content h4 {
  background-color: #333D4B;
  color: white;
  margin: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}

body main #order-summary-modal #modal-content p {
  padding: 20px 20px 0px 20px;
  font-size: 20px;
  line-height: 25px;
  color: #83888F;
  text-align: left;
}

body main #order-summary-modal #modal-content p:last-of-type {
  font-size: 14px;
  text-align: left;
}

body main #order-summary-modal #modal-content button {
  width: auto;
  margin: 20px;
}

body main #order-summary-modal #modal-content footer {
  display: none;
}

@media only screen and (min-width: 650px) {
  body main .banner-margin #create-plan-banner {
    background: url("../assets/plan/tablet/image-hero-blackcup.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 35px;
    text-align: left;
  }
  body main .banner-margin #create-plan-banner br {
    display: none;
  }
  body main .banner-margin #create-plan-banner h1 {
    font-size: 40px;
  }
  body main .banner-margin #create-plan-banner p {
    font-size: 15px;
    width: 65%;
    line-height: 35px;
  }
  body main #plan-description {
    background: url("../assets/plan/tablet/bg-steps.png") no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    text-align: left;
    padding: 30px 20px 30px 20px;
  }
  body main #plan #selection-section .selection-boxes .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 150px;
  }
  body main #plan #selection-section .selection-boxes .options .item-box {
    height: 100%;
  }
  body main #order-summary p {
    font-size: 22px;
  }
  body main #order-summary-modal #modal-content p {
    padding-left: 40px;
    padding-right: 40px;
  }
  body main #order-summary-modal #modal-content button {
    display: none;
  }
  body main #order-summary-modal #modal-content footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main #order-summary-modal #modal-content footer p {
    font-size: 20px !important;
    color: black;
  }
  body main #order-summary-modal #modal-content footer button {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  body main .banner-margin #create-plan-banner {
    background: url("../assets/plan/desktop/image-hero-blackcup.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 35px;
    text-align: left;
  }
  body main .banner-margin #create-plan-banner br {
    display: none;
  }
  body main .banner-margin #create-plan-banner h1 {
    font-size: 40px;
  }
  body main .banner-margin #create-plan-banner p {
    font-size: 15px;
    width: 65%;
    line-height: 35px;
  }
  body main #plan-description {
    background: url("../assets/plan/desktop/bg-steps.png") no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
    text-align: left;
    padding: 30px 20px 30px 20px;
  }
  body main #plan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main #plan #sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 90px 35px;
    width: 33%;
    text-align: left;
    font-size: 20px;
  }
  body main #plan #sidebar a {
    text-decoration: none;
    padding: 10px;
    color: #83888F;
  }
  body main #plan #sidebar a:not(:last-of-type) {
    border-bottom: solid 1px #83888F;
    width: 75%;
  }
  body main #plan #sidebar a:hover {
    color: black;
  }
}
/*# sourceMappingURL=plan.css.map */