body header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

body header #header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

body header #header-container #logo {
  height: 20px;
  width: auto;
}

body header #header-container .menu-icon {
  display: block;
  cursor: pointer;
}

body header #header-container #close {
  display: none;
}

body header #header-container nav {
  display: none;
  text-transform: uppercase;
}

body header #header-container nav a {
  text-decoration: none;
}

body header #dropdown-menu-content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(70%, white));
  background-image: linear-gradient(to top, transparent, white 70%);
  width: 100%;
  height: 100vh;
}

body header #dropdown-menu-content a {
  text-decoration: none;
  padding: 25px 15px;
  font-size: 22px;
  color: black;
}

@media only screen and (min-width: 650px) {
  body header {
    width: 100%;
    position: fixed;
    top: 0;
  }
  body header #header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header #header-container #logo {
    height: 30px;
    width: auto;
  }
  body header #header-container .menu {
    display: none;
  }
  body header #header-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
  }
  body header #header-container nav a {
    color: black;
  }
}

@media only screen and (min-width: 1200px) {
  body header {
    width: 100%;
    position: fixed;
    top: 0;
  }
  body header #header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header #header-container #logo {
    height: 35px;
  }
  body header #header-container .menu {
    display: none;
  }
  body header #header-container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 45%;
  }
  body header #header-container nav a {
    color: black;
  }
}
/*# sourceMappingURL=shared.css.map */